<appSettings>
  <add key="URL" value="https://www.nopcommerce.com/"/>
  <add key="browser" value="Chrome"/>
  <add key="FirstName" value="TestUser"/>
  <add key="LastName" value="17"/>
  <add key="Email" value="TestUser1125@gmail.com"/>
  <add key="UserName" value="TestUser1125"/>
  <add key="Country" value="Australia"/>
  <add key="Role" value="Technical / developer"/>
  <add key="Password" value="TestUser"/>
  <add key="RecordIdToFetch" value="2"/>
  <add key="verifyTitle" value="qui est esse"/>
  <add key="verifyUserid" value="1"/>
  <add key="APIURL" value="https://jsonplaceholder.typicode.com/posts"/>
</appSettings>
